<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ClinicManager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.ViewMedicalFileActivity"></activity>
        <activity android:name=".ui.activity.medical_history.AddHistoryActivity" />
        <activity android:name=".ui.activity.medical_history.MedicalHistoryActivity" />
        <activity android:name=".ui.activity.patient_list_schedule.PatientListScheduleActivity" />
        <activity android:name=".ui.activity.add_schedule.AddScheduleExistingActivity" />
        <activity android:name=".ui.activity.add_schedule.AddScheduleNewPatientActivity" />
        <activity android:name=".ui.activity.add_drug.AddDrugActivity" />
        <activity android:name=".ui.activity.drug_list.DrugListActivity" />
        <activity android:name=".ui.activity.add_procedures.AddProcedureActivity" />
        <activity android:name=".ui.activity.procedures.ProceduresActivity" />
        <activity android:name=".ui.activity.edit_profile.AddOrEditPatientProfileActivity" />
        <activity android:name=".ui.activity.clinic_profile.ClinicProfileActivity" />
        <activity android:name=".ui.activity.new_schedule.NewScheduleActivity" />
        <activity android:name=".ui.activity.patient_details.PatientDetailsActivity" />
        <activity android:name=".ui.activity.sign_in.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.sign_up.SignUpActivity" />
        <activity android:name=".ui.activity.permission.PermissionScreen" />
        <activity android:name=".ui.activity.splash.SplashScreen" />
        <activity android:name=".ui.activity.main.MainActivity" />
    </application>

</manifest>